################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/benchmarkdotnet/Benchmarking.Benchmarkdotnet.Playground/bin
/benchmarkdotnet/Benchmarking.Benchmarkdotnet.Playground/obj
/benchmarkdotnet/.vs/benchmarkdotnet
/.vs
/benchmarkdotnet/Benchmark.Playground/bin
/benchmarkdotnet/.vs/ProjectEvaluation
/benchmarkdotnet/Benchmark.Playground/obj
